<ion-header>
  <ion-navbar>
    <ion-title>GrandApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button style="width: 100%" large ion-button *ngFor="let op of options">{{op}}</button>
      </div>
    </div>
  </div>

  <!-- <ion-list>
    <ion-item ion-item *ngFor="let op of options">
      <button large ion-button>{{op}}</button>
    </ion-item>
  </ion-list> -->
</ion-content>


<!-- <ion-content padding>
  <ion-list>
    <ion-item ion-item *ngFor="let op of options">
      {{options}}
      <ion-item>
        <button large ion-button item-right>Select</button>
      </ion-item>
    </ion-item>
</ion-list>
</ion-content> -->